@mixin flex($direction,$contentDir) {
  display: flex;
  justify-content: $contentDir;
  flex-direction:$direction;
  align-items:center;
}


$bgColor:#202020;
$textColor:white;
$fontSmallSize:16px;
$fontMediumSize:24px;
$fontLargeSize:35px;
$fontWeight:bolder;
$padding:20px;
$paddingInput:10px;
$margin:20px;
$borderRadius:8px;
$outline:none;
$width:80vw;
$hrWidth:97vw;
$imgWidth: 230px;
$imgHeight: 350px;
$boxShadow: 1px -1px 9px 0px lightslategrey;
$textEdit:red;
$position:relative;
$FavLeft: 195px;
$FavTop: 275px;
$FavWidth: 80px;
$FavHeight: 80px;