@import "./variables";
.header {
    @include flex(row, space-between);
    flex-wrap: wrap;
    padding: $padding;
    background-color: $bgColor;
}
.header-left {
    font-weight: $fontWeight;
    color: $textColor;
    font-size: $fontLargeSize;
}
.header-right
{
    @include flex(row,space-between);
    input{
        border-radius: $borderRadius;
        padding: $padding;
        outline:$outline;
    }
    .header-right-add
    {
        margin: $margin;
        font-size: $fontMediumSize;
        color: $textEdit;
    }
}
a,Link{
    text-decoration: none;
}

