@import "./variables";
.movie-card {
    @include flex(column, space-between);
    align-items: flex-start;
    padding: $padding;
    position:$position;
    .poster {
        width: $imgWidth;
        height: $imgHeight;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
    }
    .favourite {
        position: absolute;
        left:$FavLeft;
        top:$FavTop;
        width:$FavWidth;
        height:$FavHeight;
    }
}
.movie-info {
    @include flex(column, flex-start);
    align-items: flex-start;
    .title {
        font-size: $fontLargeSize;
        color: $textColor;
    }
    .edit {
        font-size: $fontMediumSize;
        color: $textEdit;
        text-decoration: $outline;
    }
    a,
    Link {
        text-decoration: none;
    }
}
