@import "./variables";
.movie-card {
    @include flex(column, space-between);
    align-items: flex-start;
    padding: $padding;
    .poster {
        width:$imgWidth;
        height:$imgHeight;
        border-radius:$borderRadius;
        box-shadow: $boxShadow;
    }
}
.movie-info {
    @include flex(column, flex-start);
    align-items: flex-start;
    .title {
        font-size: $fontLargeSize;
        color:$textColor;
    }
    .edit {
        font-size: $fontMediumSize;
        color:$textEdit;
        text-decoration:$outline;
    }
    a,Link{
        text-decoration: none;
    }
}
